.u-section-1 {
  background-image: none;
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  letter-spacing: 2px;
  font-weight: 900;
  font-family: Roboto, sans-serif;
  text-transform: none;
  margin: 79px calc(((100% - 1140px) / 2) + 743px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-text-2 {
  font-weight: 300;
  margin: 21px calc(((100% - 1140px) / 2) + 832px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-form-1 {
  height: 71px;
  margin: 29px calc(((100% - 1140px) / 2) + 743px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-1 .u-text-3 {
  animation-duration: 1000ms;
  margin: 21px calc(((100% - 1140px) / 2) + 667px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-text-4 {
  animation-duration: 1000ms;
  margin: 21px calc(((100% - 1140px) / 2) + 693px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-image-1 {
  width: calc(((100% - 1140px) / 2) + 556px);
  height: 636px;
  margin: -511px 0 0 auto;
}

.u-section-1 .u-text-5 {
  animation-duration: 1000ms;
  margin: -105px calc(((100% - 1140px) / 2) + 521px) 60px calc(((100% - 1140px) / 2));
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2) + 613px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 632px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-form-1 {
    width: 570px;
    margin-right: calc(((100% - 940px) / 2) + 543px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + 467px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2) + 493px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-1 {
    width: 636px;
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 940px) / 2) + 321px);
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2) + 470px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 412px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-form-1 {
    margin-right: calc(((100% - 720px) / 2) + 323px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 247px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2) + 273px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2) + 101px);
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2) + 353px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 232px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-form-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2) + 143px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2) + 67px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2) + 93px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-1 {
    width: NaNpx;
    height: NaNpx;
  }

  .u-section-1 .u-text-5 {
    margin-top: 531px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2) + 222px);
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2) + 32px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }
}